<section class="container-fluid" style="background-color: rgb(255, 255, 255); ">

    <div class="row h-100" style="background-color: white;">
        <div class="col-lg-4 offset-lg-1 col-sm-3 h-100" style="background-color: white;">
          <div class="card h-100" style="border: none;">
            <div class="card-body">
              <h3 class="card-title">INTERN<span style="text-decoration:underline; color: rgb(34, 132, 231); font-size: 1.3em;">NEXUS</span></h3>
              <p class="card-text" style="line-height: 1.5; color: grey; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 18px;">
                InternNexsus is a rising platform for connecting students and companies by providing internships to students As well as consulting to the startups or companies for the technology advancements with technical supports in the form of resource deployment or remote work.
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-2 col-sm-3 h-100">
          <div class="card h-100" style="border: none;">
            <div class="card-body">
                <h3 class="card-title" style="font-weight: bold; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 22px;">About</h3>
                    <div>
                        <a class="link" href="url" style="color: grey; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 18px;">Portfolio</a>
                    </div>
                    <br>
                    <div>
                        <a class="link" href="url" style="color: grey; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 18px;">Forum</a>
                    </div>
                    <br>
                    <div>
                        <a class="link" href="url" style="color: grey; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 18px;">Blog</a>
                    </div>
                    <br>
                    <div>
                        <a class="link" href="url" style="color: grey; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 18px;">Contact</a>
                    </div>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-3 h-100">
            <div class="card h-100" style="border: none;">
                <div class="card-body">
                    <h3 class="card-title" style="font-weight: bold; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 22px;">Account</h3>
                        <div>
                            <a class="link" href="url" style="color: grey; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 18px;">Career</a>
                        </div>
                        <br>
                        <div>
                            <a class="link" href="url" style="color: grey; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 18px;">Terms & Services</a>
                        </div>
                        <br>
                        <div>
                            <a class="link" href="url" style="color: grey; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 18px;">Privacy & Policies</a>
                        </div>
                </div>
            </div>
          </div>

          <div class="col-lg-2 col-sm-3 h-100">
            <div class="card h-100" style="border: none;">
                <div class="card-body">
                    <h3 class="card-title" style="font-weight: bold; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 22px;">Location</h3>
                        <div>
                            <a class="link" href="https://www.google.com/maps/place/IntrenNexus/@28.519974,77.1661565,17z/data=!3m1!4b1!4m5!3m4!1s0x390d1f3e7b1d35a9:0xa8413eac89b83128!8m2!3d28.5199693!4d77.1683452" target="_blank" style="color: grey; font-family: 'Hind', sans-serif; text-decoration: none; font-size: 18px;">Vasant Kunj, New Delhi, Delhi 110070</a>
                        </div>
                </div>
            </div>
          </div>
      </div>

</section>

<hr style="width: 80%;">

    <div class="container" style="padding-bottom: 2%;">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text" style="font-size: 18px;  font-family: 'Hind', sans-serif; padding-top: 1%;">Copyright &copy; 2017 All Rights Reserved by 
       <a href="https://www.linkedin.com/in/bhanu-gudheniya-b833a8170/" style="text-decoration: none;">Bhanu Gudheniya</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100009199423346&sk=about&viewas=100000686899395" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/bhanu-gudheniya-b833a8170/" target="_blank"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
        </div>
        </div>
    