    <!-- ////////////////////////// Middle ////////////////////////////////// -->
<div class="container-fluid">

    <div class="Portfolio col-lg-6 col-md-12 col-sm-12 offset-lg-4" >
        <p class="folio-text">INTERNNEXUS PORTFOLIO</p>
    </div>

    <!-- Deck 1 -->
    <div class="card-deck col-lg-10 offset-lg-2" >
        <div class="card" style="background-image: linear-gradient(to right top, #171c51, #003363, #00476b, #00596a, #006965);">
          <img src="../../assets/Images/one.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card" style="background-image: linear-gradient(to right top, #171c51, #002953, #002c3e, #002d20, #0b2a00);">
          <img src="../../assets/Images/two.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card" style="background-image: linear-gradient(to right top, #171c51, #003363, #00476b, #00596a, #006965);">
          <img src="../../assets/Images/three.jpg" class="card-img-top" alt="...">
        </div>
      </div>

    <!-- Deck 2 -->
    <div class="card-deck col-lg-10 offset-lg-2" >
        <div class="card" style="background-image: linear-gradient(to right top, #4b6cb7, #3d5a9a, #30497d, #243862, #182848);">
          <img src="../../assets/Images/four.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card" style="background: linear-gradient(to top right, #000066 0%, #333300 100%);">
          <img src="../../assets/Images/five.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card" style="background-image: linear-gradient(to right top, #171c51, #002953, #002c3e, #002d20, #0b2a00);">
          <img src="../../assets/Images/six.jpg" class="card-img-top" alt="...">
        </div>
      </div>

        <!-- Deck 3 -->
    <div class="card-deck col-lg-10 offset-lg-2" >
        <div class="card" style="background-image: linear-gradient(to right top, #171c51, #003363, #00476b, #00596a, #006965);">
          <img src="../../assets/Images/seven.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card" style="background-image: linear-gradient(to right top, #171c51, #261851, #32134f, #3e0b4c, #480048);">
          <img src="../../assets/Images/eight.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card" style="background-image: linear-gradient(to right top, #4b6cb7, #3d5a9a, #30497d, #243862, #182848);">
          <img src="../../assets/Images/nine.jpg" class="card-img-top" alt="...">
        </div>
      </div>

</div>