<div class="container-fluid mainhome col-lg-12 col-md-12 col-sm12">
    
    <div class="imgdiv col-lg-12 col-md-12 col-sm-12"  >  
        <img src="../../assets/Images/avtar.png" class="Avtar col-lg-2 col-md-2 col-sm-2 offset-lg-5 offset-md-5 offset-sm-5">
    </div>

    <div class="heading col-lg-8 col-md-12 col-sm-12 offset-lg-2">
        <p class="line1">LETS START BUILDING YOUR WEBSITE</p>
        <p class="line2">WITH INTERNNEXUS</p>
    </div>

    <div class="fontawsome col-lg-3 col-md-5 col-sm-5 offset-lg-5 offset-md-1 offset-sm-1">
        <i class="fas fa-star"></i> &nbsp; <i class="fas fa-star"></i> &nbsp; <i class="fas fa-star"></i> &nbsp; &nbsp; &nbsp;
        <i class="fas fa-star"></i> &nbsp; <i class="fas fa-star"></i> &nbsp; <i class="fas fa-star"></i>
    </div>

    <div class="tag col-lg-4 offset-lg-4 col-md-12 col-sm-12">
        <p>Build <span class="tag-span">anything</span> with InternNexus</p>
    </div>

</div>

